#rooms-image {
	background-image: url("../../climbingPhotos/madnessCave3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 57% 47%;
	height: 100vh;
	color: #fff;
	background-color: #29292a;
}

#rooms-image h2 {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 3vh;
	left: 6vw;
	font-size: 9vh;
	z-index: 1;
}

#rooms {
	color: #fff;
	background-color: #29292a;
	display: ;
}

#bedroom-image {
	background-image: url("../../hostelPhotos/bedroom3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 57% 47%;
	height: 60vh;
	width: 60vw;
	color: #fff;
	background-color: #29292a;
}