#amenities-container {
	background-image: url("../../climbingPhotos/Lizzy.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 30% 60%;
	height: 90vh;
	color: #fff;
	background-color: #29292a;
}

#amenities {
	position: absolute;
	top: 12vh;
	right: 12vw;
	width: 50vw;
	text-align: none;
}