#amenities-image {
	background-image: url("../../climbingPhotos/Lizzy.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 20% 40%;
	height: 100vh;
	color: #fff;
	background-color: #29292a;
}

#amenities-image h2 {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 3vh;
	right: 3vw;
	font-size: 9vh;
	z-index: 1;
}

@media only screen and (min-width: 900px) {
	#amenities-image h2 {
		font-size: 10vh;
		right: 6vw;
	}
}

#amenities {
	color: #fff;
	background-color: #29292a;
}

#amenities p {
	background-color: #29292a;
	margin: 0;
	padding: 7vw;
	font-size: 17px;
}

@media only screen and (min-width: 800px) {
	#amenities p {
		padding-left: 10vw;
		padding-right: 10vw;
	}
}