#navigation {
  background-color: #29292a;
  color: #fff;
  height: 10vh;
}

#navigation h3 {
  position: absolute;
  top: 0;
  height: 10vh;
  width: 30vw;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 5vh;
}

#logo-container {
	height: 9vh;
	width: 9vh;
	padding: 1vh;
}

.bm-burger-button {
  position: fixed;
  width: 6vh;
  height: 6vh;
  right: 2vh;
  top: 2vh;
}

.bm-burger-bars {
  background: #fff;
}

.bm-burger-bars-hover {
  background: #61616B;
}

.bm-menu-wrap {
  position: fixed;
  top: 10vh;
}

.bm-menu {
  background: #29292a;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;

}

.bm-overlay {
  background: rgba(0, 0, 0, 0.7);
  top: 10vh;
}